<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>price</th>
        </tr>
        {{ .store}}
        {{range .Posts}}
        <form action="/posts/{{.Id}}" method="get">
        <tr>
            <td><a href="/posts/{{.Id}}"><button name="id" value="{{.Id}}"><h3>{{.Title}}</h3></button></a></td>
            <td>{{.Id}}</td>
            <td>{{.Name}}</td>
            <td>{{.Price}}</td>
        </tr>
        </form>
        {{end}}
    </table>

    
    <a href="/q/product-search-by-name"></a>

</body>
</html>